# Copy this file
# Remove the ".example" from the file name
# Add your secret key
# Don't share the key with anyone

# Ticketmaster
TICKETMASTER_API_KEY=YOUR_KEY

# MongoDB
MONGO_URI=YOUR_KEY

# JWT
JWT_LIFETIME=YOUR_KEY
JWT_SECRET=YOUR_KEY
JWT_EXPIRES_IN=YOUR_KEY
# JWT_SECRET_CSRF=YOUR_KEY

# Port number
PORT=YOUR_KEY

# Mailer
SMTP_HOST=YOUR_KEY
SMTP_PORT=YOUR_KEY
SENDER_EMAIL=YOUR_KEY
SENDER_EMAIL_PASSWORD=YOUR_KEY
# SENDGRID_API_KEY=YOUR_KEY

# Environment
NODE_ENV=YOUR_KEY

# CORS
CORS_ORIGIN=YOUR_KEY